.menu {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0 2px 6px 0 #ffffff50;
  position: fixed;
  right: 0;
  margin-top: 62px;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;

  flex-direction: column;
  z-index: 2;
}
.menubg {
  display: none;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
}
#open {
  display: none;
}
@media screen and (max-width: 1000px) {
  #open {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  #open a svg {
    width: 29px;
  }
}
.menu.show {
  max-height: 100vh;
}


.menu__container a {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: inherit;
}
.menu__container svg {
  margin-left: 6px;
}
.menu__container:first-child a {
  align-items: center;
  font-size: 20px;
  padding: 0 1rem;
  height: 50px;
}
.menu__container:last-child {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px black;
  color: #00000050;
  padding: 1rem;
}
.menu__container:last-child a {
  font-size: 14px;
}