.menu {
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 8px 0 10px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .menu {
    width: 100%;
  }
}
.menu p {
  padding: 1rem;
  font-size: 1.5rem;
}
.menu ul {
  list-style-type: none;
  font-size: 1.25rem;
  padding: 0 1rem;
  line-height: 1.5;
}
.menu ul li {
  cursor: pointer;
}
.menu ul li a {
  color: inherit;
  text-decoration: none;
}
.menu ul li:hover {
  color: #33B0FF;
  transition: 0.1s;
}
.menu ul li a:active {
  color: #007DFE !important;
}
.menu a img {
  height: 20px;
  margin-left: .25rem;
}
.menu a:not(li a) {
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.25;
  color: inherit;
  display: flex;
  padding: 0;
}
.menu a:not(li a):hover {
  text-decoration: underline;
}
.menu a img {
  height: 20px;
  margin-left: .25rem;
}
.menu__container {
  display: flex;
  flex-direction: column;
}
.menu__container hr {
  margin: 1rem;
  border: 1px solid #007DFE;
}
@media screen and (max-width: 400px) {
  .menu__container hr {
    margin: .75rem;
  }
}
.menu__links {
  display: flex;
  flex-wrap: wrap;
}
.menu__links a {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
}
.menu__container div {
  display: flex;
  align-items: center;
  line-height: 1.25;
}