.nav {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  height: 4rem;
  padding: 0.5rem 1rem;
  width: 100%;
  color: white;
  position: fixed;
  z-index: 9999;
}
.nav a {
  display: flex;
  align-items: center;
}
.nav a img {
  border-radius: 10px;
  height: 3rem;
}
.nav a img[src="images/tg.svg"] {
  height: 46px;
}
.nav p {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 0.5rem;
}
.nav__items {
  display: flex;
}
.nav__items:first-child a {
  color: #f7f7f7;
  text-decoration: none;
  font-size: 1.1rem;
  margin-right: 1.5rem;
}
.nav__items:first-child a:hover {
  color: var(--color);
  transition: transform .5s;
}
.nav__items:first-child a:hover svg g {
  fill: var(--color);
}
.nav__items:first-child a:first-child {
  margin-right: 3rem;
}
.nav__links {
  width: 20px;
  height: 20px;
  border-radius: 0;
  margin-left: .25rem;
}
@media screen and (max-width: 1000px) {
  .nav p {
    display: block;
  }
  .nav__items a:not(a[href="/"]:first-child) {
    display: none;
  }
}