.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999999999999;
  height: 100%;
  width: 100%;
  background-color: white;
}

.preloader img {
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #111;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaded .preloader {
  display: none;
  overflow-y: scroll;
}