::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color);
}

body {
  overflow-y: scroll;
  user-select: none;
}
@media screen and (min-width: 1500px) {
  body {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    max-width: 1500px;
  }
  .search-wrapper {
    width: 100vw !important;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-items: center;
}
.wrapper__search input {
  height: 50px;
  width: 100%;
  margin-left: 0.5rem;
  padding: 0 2rem 0 1.5rem;
  font-size: 1.2rem;
  border-radius: 16px;
  border: 1px solid var(--color);
}
.wrapper div {
  display: flex;
  margin: 0 1rem;
}
@media screen and (max-width: 920px) {
  .wrapper div + div {
    flex-direction: column;
  }
  #results {
    padding: 1rem 0 !important;
  }
}
.wrapper nav {
  display: none;
  align-items: center;
  margin: 0.5rem 0 0;
  padding: 1rem;
  border: solid 1px black;
  border-radius: 16px;
  background-color: white;
  width: calc(100% - 2rem);
}
.wrapper nav ul {
  list-style: none;
}
.wrapper nav ul li {
  cursor: pointer;
}
.wrapper nav ul li:hover {
  color: #33b0ff;
}
.wrapper p {
  margin: 1rem 0.5rem 0;
  text-align: center;
  line-height: 1.65;
}
.wrapper span:not(#clearSearch) {
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.wrapper a {
  color: var(--color);
  line-height: 1.65;
}
.wrapper article {
  display: flex;
  flex-direction: column;
}
.wrapper__search {
  max-width: 1500px;
  width: calc(100% - 2rem);
}
.wrapper__notfound {
  display: none;
}
.wrapper__notfound span {
  font-weight: bold;
}


/* Таблица курсов */
table {
  padding: 0 1rem 1rem;
  margin: auto;
  margin-top: 10px;
}
table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  line-height: 1.65;
}
table tr:hover {
  background-color: var(--color-hover);
}
table tr td {
  display: flex;
  align-items: center;
  gap: 10px;
}
table tr td svg {
  cursor: pointer;
  transition-duration: 0.3s;
}
table tr td svg.active path {
  fill: var(--color-heart);
}
table tr td svg.active:hover path {
  fill: var(--color-heart);
  opacity: .5;
}
table tr td svg:hover path {
  fill: var(--color-dark);
}
table tr td button {
  background-color: var(--color);
  border-radius: 7px;
  border: none;
  padding: 6px 15px;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition-duration: 0.3s;
}
table tr td button:hover {
  background-color: var(--color-dark);
}
@media screen and (max-width: 400px) {
  table tr {
    flex-direction: column;
    padding: 10px 0;
  }
  table tr td {
    width: 100%;
  }
  table tr td svg {
    height: 30px;
    min-width: 34px;
  }
  table tr td button {
    height: 40px;
    width: 100%;
    font-size: 18px;
  }
}


/* Выбор категории */
#list-courses.active-category::placeholder {
  color: black;
}
.wrapper nav p {
  margin: 0 1rem !important;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.wrapper nav p input {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
form {
  display: flex;
  align-items: center;
}
form label {
  text-wrap: nowrap;
}
@media screen and (max-width: 700px) {
  form {
    margin-bottom: 0.5rem;
  }
  .wrapper nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper nav p {
    margin: 0 !important;
  }
}
form input {
  width: 100%;
  min-width: 300px;
  height: 30px;
  margin-left: 0.5rem;
  padding: 0 1rem;
  border-radius: 10px;
  border: 1px solid var(--color);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, var(--color) 50%),
    linear-gradient(135deg, var(--color) 50%, transparent 50%),
    linear-gradient(to right, var(--color), var(--color));
  background-position: calc(100% - 13px), calc(100% - 9px), calc(100% - 2em);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
form input:focus {
  background-image: linear-gradient(45deg, transparent 50%, black 50%),
    linear-gradient(135deg, black 50%, transparent 50%),
    linear-gradient(to right, black, black);
}
form input::-webkit-calendar-picker-indicator {
  display: none !important;
}
@media screen and (max-width: 534px) {
  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  form label {
    margin-bottom: 4px;
  }
  form input {
    margin: 0;
  }
}
@media screen and (max-width: 365px) {
  form input {
    min-width: calc(320px - 3rem);
  }
}
@media screen and (max-width: 340px) {
  form input {
    min-width: calc(320px - 4rem);
  }
}

.wrapper__results {
  flex-direction: column;
}
.wrapper__results p {
  display: none;
  font-weight: bold;
}

/* Недавно добавленные курсы и Понравившиеся курсы */
.new {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}
.new p {
  text-align: center;
  font-size: 24px;
}
.new span {
  font-weight: normal !important;
  margin: 10px 1rem;
  width: calc(100% - 2rem) !important;
  line-height: 1.65;
}
@media screen and (max-width: 400px) {
  .new p {
    font-size: 20px;
  }
}



.active-tab,
.active-tab:hover {
  color: var(--color) !important;
}
#menuTab {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid var(--color);
  padding: 0.5rem;
  transition: opacity 0.2s ease;
  background-color: white;
}
.tg,
.top {
  height: 50px;
  width: 50px;
  margin: 1rem;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-radius: 50px;
}
.tg img {
  height: 50px;
  width: 50px;
}
.tg {
  right: 0;
}
.top {
  display: none;
  left: 0;
}

.search-wrapper {
  position: relative;
  width: 100%;
  margin: 0 !important;
}
#clearSearch {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--color);
  height: 50px;
  display: none;
}
