:root {
  --color: #007DFE;
  --color-black: #111111;
}
.vpn {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0 1rem;
  max-width: 1500px;
  width: calc(100% - 2rem);
  color: var(--color-black);
}
.vpntitle {
  max-width: 1500px;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: flex-start;
}
.vpntitle p {
  font-size: 36px;
  margin: 2rem 0;
  text-align: center;
}
.vpn__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vpn__items-container {
  display: flex;
  gap: 1rem;
}
.vpn__items-container__block:first-child {
  border: solid 1px var(--color-black);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 48px;
  min-width: 48px;
}
.vpn__items-container__block:not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 9px 0;
}
.vpn__items-container__block p {
  font-size: 24px;
  line-height: 1.35;
}
.vpn__items-container__block a {
  color: var(--color);
}
.vpn__items-container__block-links,
.vpn__items-container__block-links div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.vpn__items-container__block-links div a {
  border: solid 1px var(--color-black);
  border-radius: 10px;
  font-size: 18px;
  padding: 12px 1rem;
  color: var(--color-black);
  text-decoration: none;
}
.vpn__items-container__block-links div a:hover {
  background-color: var(--color-black);
  color: white;
  transition: .3s ease-in-out;
}
.vpn__items-container__block-links .line {
  border-left: solid 1px var(--color-black);
}

@media screen and (max-width: 1024px) {
  .vpn svg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .vpntitle p {
    font-size: 32px;
    margin: 20px 0 2rem;
  }
  .vpn__items-container__block:first-child {
    font-size: 20px;
    height: 36px;
    min-width: 36px;
  }
  .vpn__items-container__block:not(:first-child) {
    padding: 5px 0;
  }
  .vpn__items-container__block p {
    font-size: 20px;
  }
  .vpn__items-container__block-links,
  .vpn__items-container__block-links div {
    gap: 10px;
  }
  .vpn__items-container__block-links .line {
    display: none;
  }
  .vpn__items-container__block-links div a {
    font-size: 16px;
    padding: 9px 14px;
  }
}